body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url("back_img.jpg");
    background-size: cover;
}

.manage-courses-container {
    max-width: 2000px;
    margin: 0 auto;
    background-color: white;
    margin-top: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

td {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.view {
    background-color: #007bff;
    color: white;
}

button.edit {
    background-color: #28a745;
    color: white;
}

button.delete {
    background-color: #dc3545;
    color: white;
}
